<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>分类添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/admin/lib/layui-v2.6.3/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">分类名</label>
        <div class="layui-input-block">
            <input type="text" name="categoryName" lay-verify="required" lay-reqtext="分类名不能为空" placeholder="请输入分类名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id="savecategory" class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script th:src="@{/static/admin/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">

    let contextPath = [[@{/}]];

    layui.use(['form'], function () {
        var $ = layui.jquery,
            form = layui.form;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var url = contextPath + 'admin/category/add'
            $.post(url,data.field,function (response) {
                $("#savecategory").attr('disabled','disabled').addClass("layui-btn-disabled")
                if (response.code == 0){
                    layer.msg(response.msg,{icon:1,time: 1000},function () {
                        parent.refreshtable();
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);
                    })
                }else{
                    layer.msg(response.msg,{icon:2,anim:6})
                    $("#savecategory").removeClass("layui-btn-disabled").removeAttr('disabled','disabled')
                }
            })
            return false;
        });
    });
</script>

</body>
</html>